<div fxLayout="row wrap">
  <div class="plan" fxFlex="50" [fxFlex.lt-lg]="60" [fxFlex.lt-md]="100" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
    <div fxLayout="row" >
      <small fxFlex="30" [fxFlex.lt-lg]="40" [fxFlex.lt-md]="100" class="label">Type: </small>
      <div fxFlexAlign="right" class="type {{plan.type | lowercase}}">{{plan.type | uppercase}}</div>
    </div>
    <div fxLayout="row">
      <small fxFlex="30" [fxFlex.lt-lg]="40" [fxFlex.lt-md]="100" class="label">Status: </small>
      <mat-icon fxFlexAlign="right" [inline]="true" [ngClass]="{'active': plan.isActive()}">stop_circle</mat-icon>
    </div>
    <div fxLayout="row">
      <small fxFlex="30" [fxFlex.lt-lg]="40" [fxFlex.lt-md]="100" class="label">Description: </small>
      <div fxFlexAlign="right">{{plan.description}}</div>
    </div>
  </div>
  <ul class="features" fxFlex="25" [fxFlex.lt-lg]="35" [fxFlex.lt-md]="100">
    <li><app-feature [label]="'Voicemail'" [active]="plan.features.voicemail"></app-feature></li>
    <li><app-feature [label]="'Conference Calling'" [active]="plan.features.callWaiting"></app-feature></li>
    <li><app-feature [label]="'Call Waiting'" [active]="plan.features.conferenceCalling"></app-feature></li>
  </ul>
</div>
