mat-icon {
  color: orangered;
}
mat-icon.active {
  color: #1ae876;
}
.type {
  color: white;
  padding: 0 8px;
  height: 22px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  line-height: initial;
}
.type.basic {
  background-color: gray;
}
.type.lite {
  background-color: yellowgreen;
}
.type.premium {
  background-color: black;
}
.type.ultimate {
  background-color: goldenrod;
}
