<mat-expansion-panel multiple>
  <mat-expansion-panel-header>
    <mat-panel-title>{{user.name}}</mat-panel-title>
    <mat-panel-description fxLayout="row" fxLayoutAlign="end start">
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Profile">
      <div class="tab-wrapper">
        <div fxLayout="row">
          <small fxFlex="15" [fxFlex.lt-lg]="25" class="label">Email: </small>
          <a class="user-info" href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
        <div fxLayout="row">
          <small fxFlex="15" [fxFlex.lt-lg]="25" class="label">Age: </small>
          <span class="user-info">{{user.age}}</span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Plan">
      <div class="tab-wrapper">
        <app-plan [plan]="user.plan"></app-plan>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
