<mat-form-field class="chip-list">
  <mat-chip-list #chipList aria-label="User search">
    <mat-chip
      *ngFor="let user of users"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(user)">
      {{user}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Search by first or last name"
      #userInput
      [formControl]="userCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
      {{user.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
