/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 1.2em; white-space: nowrap;}
ul {margin: 0; padding: 0;}

main {
  width: 85%;
  max-width: 650px;
  margin: 30px auto;
  padding: 0 30px;
}

.label {
  color: gray;
}

a {
  text-decoration: none;
  color: #45a4ff;
}

.mat-tab-label-container .mat-tab-label {
  height: 35px;
  min-width: max-content;
  padding: 0 30px;
}
